<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
    </div>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label>Nome de usuário</label>
        <input type="text" name="username" id="">
        <br>
        <label>Senha</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>