<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Formulário</title>
</head>
<body>

    <h1>Sala de Aula</h1>
    <div>
        <textarea name="descricao" cols="50" rows="5" id="descricao" placeholder="descrição"></textarea>
    </div>
    <div>
        <label>Situação: </label>
        <br>
        <input type="radio" name="situacao" id="suja" value="suja" checked />
        <label for="suja">Sala suja</label>
        <br>
        <input type="radio" name="situacao" id="arQuebrado" value="arQuebrado"/>
        <label for="arQuebrado">Arcondicionado com defeito</label>
        <br>
        <input type="radio" name="situacao" id="caderaQuebrada" value="caderaQuebrada" />
        <label for="caderaQuebrada">Cadeira Quebrada</label>
        <br>
        <input type="radio" name="situacao" id="luzQueimada" value="luzQueimada" />
        <label for="luzQueimada">Luz Quemada</label>
        <br>
        <input type="radio" name="situacao" id="outro" value="outro" />
        <label for="outro">Outro</label>
    </div>

</body>
</html>